@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
}

.ml5 { margin-left: 5px;}
.ml10 { margin-left: 10px;}
.ml15 { margin-left: 15px;}

#container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#container > header {
	background-color: #a29bfe;
	display: flex;
	height: 70px;
	padding: 10px;
}

#container > header > #headerLeft {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

#container > header > #headerLeft > #headerLogout > a {
	color: blue;
}

#container > header > #headerRight {
	display: flex;
	flex-frow: 1;
	align-items: center;
}

#container > section {
	flex-grow: 1; 
}

#container > footer {
	align-items: center;
	background-color: #636e72;
	color: white;
	display: flex;
	height: 50px;
	justify-content: center;
	padding: 10px;
}

#sectionContainerCenter {
	align-items: center; <!--가로방향 -->
	display: flex;
	height: 100%;
	justify-content: center;<!-- 정방향 -->
	width: 100%;
}

.frm {
	border: 1px solid #bdc3c7;
	padding: 20px;
}

.msg {
	color: red;
	font-weight: bold;
}
.containerPImg {
	display: inline-block;	
	width: 50px;
	height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.pImg {
	object-fit: cover;
	max-width:100%;
}